.menu-item {
  color: whitesmoke;
  margin: 0 10px;
  cursor: pointer;
  transition: 0.25s;
  position: relative;
}
.menu-item:hover {
  color: orange;
}

.menu-sub {
  position: absolute;
  top: 100%;
  background-color: black;
  color: white;
  width: 100px;
  display: none;
}
.menu-sub > div {
  width: 100%;
  margin: 5px;
  box-sizing: border-box;
}

.show {
  display: block;
}
