body {
  margin: 0;
  font-family: Lato, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-main {
  background-color: rgb(33, 33, 48);
  color: whitesmoke;
}

.full-screen {
  width: 100%;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
}
.margin-10 {
  margin: 0 10px;
}
